h1,
h2,
h3,
h4 {
  font-family: Raleway;
}

body {
  margin-left: 50px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content:space-between;
}

.nav {
  font-family: Raleway;
  float: right;
  
}

ul[class="nav"] {
  display: flex;
  justify-content: space-around;
}

li[class="elements"] {
  display: flex;
  flex-direction: row;
}

li[class="elements1"]{
  display: flex;
  flex-direction: row;
  font-weight: bolder;
}


div[class="section"] {
  display: flex;
}

div[class="Filtres"] {
  display: flex;
  flex-direction: row;
}

ul[class="Filtres"] {
  color: #0065fc;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}

li[class="Filtres"] {
  display: flex;
  border: #f2f2f2 solid 2px;
  border-radius: 100em;
  margin-left: 20px;
  padding-right: 15px;
}

div[class="NomFiltre"] {
  display: flex;
}

a {
  margin: 4px 10px;
}

div[class="fas fa-money-bill-wave"],
div[class="fas fa-child"],
div[class="fas fa-heart"],
div[class="fas fa-dog"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  width: 40px;
  height: 40px;
  border-radius: 2em;
}

label {
  font: 1rem Raleway, sans-serif;
  font-weight: bold;
}

i[class="fas fa-map-marker-alt"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 40px;
  width: 40px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

div[class="Search"] {
  display: flex;
  flex-direction: row;
}

input[type="search"] {
  height: 40px;
}

input[type="submit"] {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  font-family: Raleway;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
}

.fas fa-map-marker-alt {
  height: 40px;
  width: 40px;
  display: inline-block;
  float: left;
  width: min-content;
  background-position: center;
}

div[class="Info"] {
  display: flex;
  flex-direction: row;
}

label[class="Info"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: solid #f2f2f2;
  border-radius: 50em;
  color: #0065fc;
}

p[class="Info"] {
  margin-left: 15px;
}

.fas fa-chart-line {
  float: right;
  justify-content: right;
  display: inline-block;
}

input,
label {
  margin: 0.4rem 0;
  width: min-content;
}

input {
  border-color: #f2f2f2;
  border-style: solid;
}

p {
  font-family: Raleway;
}

section[class="Heb"] {
  width: 75%;
}

section[class="Pop"]{
  width: 25%;
}



article[class="Hébergements"] {

  margin-bottom: 40px;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 2em;
  
}

h2[class="Titre1"] {
  margin-left: 45px;
  border-top: 30px solid transparent;
}

p[class="Afficher"] {
  margin-left: 45px;
  font-weight: bold;
}

figure[class="Heb"] {
  display: flex;
  position: relative;
  width: 360px;
  height: 250px;
  background-color: white;
  border: white solid 7px;
  box-shadow: rgb(184, 184, 184) 0px 0px 9px;
  border-radius: 1.9em;
}

.Photo1 {
  flex-direction: row;
  width: 360px;
  height: 160px;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  box-sizing: content-box;
  object-fit: cover;
}

a[class="Nom1"] {
  position: absolute;
  top: 165px;
  left: 10px;
  outline: none;
  text-decoration: none;
  color: black;
  font-family: Raleway;
  font-weight: bold;
  line-height: 20px;
}

a[class="Definition1"] {
  position: absolute;
  top: 187px;
  left: 10px;
}

span[class="Etoiles1"] {
  position: absolute;
  top: 220px;
  left: 20px;
}

div[class="Haut"] {
  display: flex;
  justify-content: space-around;
}

div[class="Bas"] {
  display: flex;
  justify-content: space-around;
}

div[class="section2"]{
  width: 25%;
}

aside {
  width: 25%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 2em;
  margin-left: 30px;
}

h2[class="Pop"] {
  margin-bottom: 18px;
  margin-left: 45px;
  margin-right: 45px;
  border-top: 30px solid transparent;
  display: flex;
  justify-content: space-between;
}

i[class="fas fa-chart-line"] {
  display: flex;
}

a[class="Vignettes"] {
  cursor: pointer;
  margin: 0px;
}

figure[class="Pop"] {
  display: flex;
  position: relative;
  width: 330px;
  height: 150px;
  background-color: white;
  border: white solid 7px;
  box-shadow: rgb(184, 184, 184) 0px 0px 9px;
  border-radius: 1.9em;
}

.Photo2 {
  width: 150px;
  height: 150px;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  box-sizing: content-box;
  object-fit: cover;
}

a[class="Nom"] {
  position: absolute;
  top: 1px;
  left: 155px;
  outline: none;
  text-decoration: none;
  color: black;
  font-family: Raleway;
  font-weight: bold;
  line-height: 20px;
}

a[class="Definition"] {
  position: absolute;
  top: 45px;
  left: 155px;
}

span[class="Etoiles"] {
  position: absolute;
  top: 125px;
  left: 163px;
}

.C2etoiles {
  color: #0065fc;
  display: inline-block;
  cursor: pointer;
}

.C2etoiles:hover {
}
.C2etoiles div {
  display: inline-block;
  padding: 0px;
}
.C2etoiles div::after {
  content: "\002605";
}

article[class="Activités"] {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Photo3_Grande {
  width: 260px;
  height: 400px;
  border-radius: 1.5em;
  border: solid white 0px;
  box-shadow: rgb(184, 184, 184) 0px 0px 5px;
  box-sizing: content-box;
  object-fit: cover;
}

.Photo3_Moyenne {
  width: 260px;
  height: 210px;
  border-radius: 1.5em;
  border: solid white 0px;
  box-shadow: rgb(184, 184, 184) 0px 0px 5px;
  box-sizing: content-box;
  object-fit: cover;
}

.Photo3_Petite {
  width: 260px;
  height: 170px;
  border-radius: 1.5em;
  border: solid white 0px;
  box-shadow: rgb(184, 184, 184) 0px 0px 5px;
  box-sizing: content-box;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-right: 0.625%;
}

.container {
  column-count: 3;
}

a {
  display: flex;
  outline: none;
  text-decoration: none;
  margin-right: 0.625%;
  line-height: 2;
  color: black;
  font-family: Raleway;
}
