h1,
h2,
h3,
h4 {
  font-family: Raleway;
  display: inline;
}

body {
  margin-left: 50px;
}

.Reservia {
  margin-right: 20px;
}

.nav {
  font-family: Raleway;
  float: right;
  display: inline;
}

.elements {
  display: inline;
  justify-content: space-around;
}

ul {
  color: white;
}

li{
  display: inline;
}

label {
  display: inline;
  font: 1rem Raleway, sans-serif;
  font-weight: bold;
  background-color: #f2f2f2;
}

.fas fa-map-marker-alt {
  display: inline-block;
  float: left;
  width: min-content;
}

.fas fa-money-bill-wave{
  display: inline-block;
  float: left;
  color: #0065FC;
}

.fas fa-child{
  display: inline-block;
  color: #0065FC;
}

.fas fa-heart{
  display: inline-block;
  color: #0065FC;
}

.fas fa-dog{
  color: #0065FC;
  display: inline-block;
}

.fas fa-info{
  display: inline-block;
  float: left;
}

.fas fa-chart-line{
  float: right;
  justify-content: right;
  display: inline-block;
}

input,
label {
  margin: 0.4rem 0;
  width: min-content;
}

input {
  border-color: #f2f2f2;
  border-style: solid;
}

.Filtres {
  border: solid #f2f2f2;
  width: min-content;
  font-weight: bold;
  border-radius: 20%;
}

p {
  font-family: Raleway;
}

section {
  width: auto;
}

article {
  width: min-content;
  background-color: #f2f2f2;
  border-radius: 3%;
  display: flex;
  justify-content: space-around;
}

.Photo1 {
  width: 240px;
  height: 190px;
  border-radius: 10%;
  border: solid white 7px;
  box-shadow: rgb(184, 184, 184) 0px 0px 5px;
}

aside {
  width: min-content;
  background-color: #f2f2f2;
  border-radius: 3%;
}

.Photo2 {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: solid white 7px;
  box-shadow: rgb(184, 184, 184) 0px 0px 5px;
}

footer {
  background-color: #f2f2f2;
  margin-right: 0.625%;
}

.conteneur3 {
  display: flex;
  justify-content: space-around;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.625%;
  line-height: 2;
  color: black;
  font-family: Raleway;
}
