h1, h2, h3, h4
{  
  font-family: Raleway;
}

nav
{
  font-family: Raleway;
}

ul
{
  color: white;
}

label {
  display: block;
  font: 1rem Raleway, sans-serif;
  font-weight: bold;
  background-color: #f2f2f2;
}

input,
label {
  margin: .4rem 0;
  
}

input
{
  border-color: #f2f2f2;
  border-style: solid;
}

button
{
  color: white;
  background-color: #0065FC;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  border-color: #0065FC;
  border-style: solid;
}

p
{
  font-family: Raleway;
}

section
{
  background-color: #f2f2f2;
  border-radius: 3%;
}

footer
{
  background-color: #f2f2f2 ;
  margin-right: 0.625%;
}

a
{
  outline: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.625%;
  line-height: 2;
  color: black;
  font-family: Raleway;
}
